beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.1.1
coloredlogs==15.0.1
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.6
filelock==3.9.0
flatbuffers==23.5.26
fonttools==4.39.4
humanfriendly==10.0
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.1
mpmath==1.3.0
numpy==1.24.2
onnx==1.14.0
onnxruntime==1.15.0
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
platformdirs==2.6.2
protobuf==4.23.2
pycocotools==2.0.6
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
sympy==1.12
typing_extensions==4.6.2
urllib3==1.26.13
virtualenv==20.17.1
